---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [35]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [36]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [150]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    with open ('university_towns.txt') as file:
        data = []
        for a in file:
            data.append(a[: -1])
        
    state_town = []
    for a in data:
        if a[-6:] == '[edit]':
            state = a[: -6]
        elif '(' in a:
            town = a[:a.index('(')-1]
            state_town.append([state, town])
        else:
            town = a
            state_town.append([state, town])
    
    df = pd.DataFrame(state_town, columns=['State', 'RegionName'])

    return df

get_list_of_university_towns().head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

From Bureau of Economic Analysis, US Department of Commerce, the GDP over time of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file gdplev.xls. For this assignment, only look at GDP data from the first quarter of 2000 onward.

In [152]:
gdp = pd.read_excel('gdplev.xls',skiprows=7)
gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
gdp.columns = ['Quarter', 'GDP']
gdp = gdp[212:]
gdp[10:-10]

    Quarter      GDP
222  2002q3  11037.1
223  2002q4  11103.8
224  2003q1  11230.1
225  2003q2  11370.7
226  2003q3  11625.1
227  2003q4  11816.8
228  2004q1  11988.4
229  2004q2  12181.4
230  2004q3  12367.7
231  2004q4  12562.2
232  2005q1  12813.7
233  2005q2  12974.1
234  2005q3  13205.4
235  2005q4  13381.6
236  2006q1  13648.9
237  2006q2  13799.8
238  2006q3  13908.5
239  2006q4  14066.4
240  2007q1  14233.2
241  2007q2  14422.3
242  2007q3  14569.7
243  2007q4  14685.3
244  2008q1  14668.4
245  2008q2  14813.0
246  2008q3  14843.0
247  2008q4  14549.9
248  2009q1  14383.9
249  2009q2  14340.4
250  2009q3  14384.1
251  2009q4  14566.5
252  2010q1  14681.1
253  2010q2  14888.6
254  2010q3  15057.7
255  2010q4  15230.2
256  2011q1  15238.4
257  2011q2  15460.9
258  2011q3  15587.1
259  2011q4  15785.3
260  2012q1  15973.9
261  2012q2  16121.9
262  2012q3  16227.9
263  2012q4  16297.3
264  2013q1  16475.4
265  2013q2  16541.4
266  2013q3  16749.3
267  2013q4  16999.9

In [153]:
gdp.loc[212+2, 'GDP']

10357.4

In [154]:
starts = []
for i in gdp.index[:-2]:
    
    if (gdp.loc[i, 'GDP'] > gdp.loc[i+1, 'GDP']) & (gdp.loc[i+1, 'GDP'] > gdp.loc[i+2, 'GDP']):
        starts.append(gdp.loc[i, 'Quarter'])
        
starts[0]

'2008q3'

In [155]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    gdp = pd.read_excel('gdplev.xls',skiprows=7)
    gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
    gdp.columns = ['Quarter', 'GDP']
    gdp = gdp[212:]
    
    starts = []
    for i in gdp.index[:-2]:
        if (gdp.loc[i, 'GDP'] > gdp.loc[i+1, 'GDP']) & (gdp.loc[i+1, 'GDP'] > gdp.loc[i+2, 'GDP']):
            starts.append(gdp.loc[i, 'Quarter'])
    
    return starts[0]

get_recession_start()

'2008q3'

In [156]:
gdp[gdp['Quarter'] > '2008q3'].index

Int64Index([247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
            260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
            273, 274, 275, 276, 277],
           dtype='int64')

In [157]:
gdp[gdp['Quarter'] > '2008q3'].index[3:]

Int64Index([250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262,
            263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275,
            276, 277],
           dtype='int64')

In [158]:
ends = []
for i in gdp[gdp['Quarter'] > '2008q3'].index[3:]:
    if (gdp.loc[i, 'GDP'] > gdp.loc[i-1, 'GDP']) & (gdp.loc[i-1, 'GDP'] > gdp.loc[i-2, 'GDP']):
        ends.append(gdp.loc[i, 'Quarter'])
ends[0]

'2009q4'

In [159]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gdp = pd.read_excel('gdplev.xls',skiprows=7)
    gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
    gdp.columns = ['Quarter', 'GDP']
    gdp = gdp[212:]
    
    ends = []
    for i in gdp[gdp['Quarter'] > '2008q3'].index[3:]:
        if (gdp.loc[i, 'GDP'] > gdp.loc[i-1, 'GDP']) & (gdp.loc[i-1, 'GDP'] > gdp.loc[i-2, 'GDP']):
            ends.append(gdp.loc[i, 'Quarter'])
   
    return ends[0]

get_recession_end()

'2009q4'

In [160]:
gdp[(gdp['Quarter'] >= '2008q3') & (gdp['Quarter'] <= '2009q4')].index

Int64Index([246, 247, 248, 249, 250, 251], dtype='int64')

In [161]:
recession = gdp[(gdp['Quarter'] >= '2008q3') & (gdp['Quarter'] <= '2009q4')]
recession

    Quarter      GDP
246  2008q3  14843.0
247  2008q4  14549.9
248  2009q1  14383.9
249  2009q2  14340.4
250  2009q3  14384.1
251  2009q4  14566.5

In [162]:
min(recession['GDP'])

14340.4

In [163]:
bottom = recession[recession['GDP'] == min(recession['GDP'])]
bottom

    Quarter      GDP
249  2009q2  14340.4

In [164]:
bottom['Quarter'].tolist()[0]

'2009q2'

In [165]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    gdp = pd.read_excel('gdplev.xls',skiprows=7)
    gdp = gdp[['Unnamed: 4', 'Unnamed: 5']]
    gdp.columns = ['Quarter', 'GDP']
    gdp = gdp[212:]
    
    recession = gdp[(gdp['Quarter'] >= '2008q3') & (gdp['Quarter'] <= '2009q4')]
    bottom = recession[recession['GDP'] == min(recession['GDP'])]
    
    return bottom['Quarter'].tolist()[0]

get_recession_bottom()

'2009q2'

In [166]:
housing_df = pd.read_csv('City_Zhvi_AllHomes.csv')
housing_df = housing_df.drop(['RegionID','Metro','CountyName','SizeRank'], axis=1)
housing_df.head()

,RegionName,State,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,New York,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,Los Angeles,CA,155000.0,154600.0,154400.0,154200.0,154100.0,154300.0,154300.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,Chicago,IL,109700.0,109400.0,109300.0,109300.0,109100.0,109000.0,109000.0,109600.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,Philadelphia,PA,50000.0,49900.0,49600.0,49400.0,49400.0,49300.0,49300.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,Phoenix,AZ,87200.0,87700.0,88200.0,88400.0,88500.0,88900.0,89400.0,89700.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [167]:
# clean up the DataFrame with only the info we need

col_to_drop = [col for col in housing_df.columns[2:] if col < '2000-01']
housing_df = housing_df.drop(col_to_drop, axis=1)
housing_df.head()

,RegionName,State,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,New York,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,Los Angeles,CA,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,Chicago,IL,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,Philadelphia,PA,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,Phoenix,AZ,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [168]:
housing_df.columns[2:-2]

Index(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06',
       '2000-07', '2000-08', '2000-09', '2000-10',
       ...
       '2015-09', '2015-10', '2015-11', '2015-12', '2016-01', '2016-02',
       '2016-03', '2016-04', '2016-05', '2016-06'],
      dtype='object', length=198)

In [169]:
housing_df = housing_df.sort(columns='State')
housing_df.head()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,RegionName,State,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
3697,Kenai,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,206200,207600,208800,209800,210300,211200,211800,212000,212100,211800
5150,Ketchikan,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,196700,196600,195700,195200,195900,201000,206700,208200,206500,206400
10081,Anchor Point,AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154700,155800,156300,156200,157900,161200,162300,161100,161000,161400
55,Anchorage,AK,175700.0,174700.0,173500.0,173800.0,175300.0,176700.0,178000.0,179500.0,...,291600,292100,293100,293900,294100,294500,295000,295000,294800,294400
1770,Palmer,AK,169800.0,168800.0,167700.0,168500.0,170700.0,172500.0,173300.0,174400.0,...,241300,242900,245500,247000,246700,246200,245700,245300,245000,244500

In [170]:
housing_df.set_index(['State', 'RegionName'], inplace=True)

In [171]:
housing_df.head()

                     2000-01   2000-02   2000-03   2000-04   2000-05  \
State RegionName
AK    Kenai              NaN       NaN       NaN       NaN       NaN
      Ketchikan          NaN       NaN       NaN       NaN       NaN
      Anchor Point       NaN       NaN       NaN       NaN       NaN
      Anchorage     175700.0  174700.0  173500.0  173800.0  175300.0
      Palmer        169800.0  168800.0  167700.0  168500.0  170700.0

                     2000-06   2000-07   2000-08   2000-09   2000-10   ...     \
State RegionName                                                       ...
AK    Kenai              NaN       NaN       NaN       NaN       NaN   ...
      Ketchikan          NaN       NaN       NaN       NaN       NaN   ...
      Anchor Point       NaN       NaN       NaN       NaN       NaN   ...
      Anchorage     176700.0  178000.0  179500.0  181200.0  182500.0   ...
      Palmer        172500.0  173300.0  174400.0  175000.0  175200.0   ...

                    2015-11  2015-12  2016-01  2016-02  2016-03  2016-04  \
State RegionName
AK    Kenai          206200   207600   208800   209800   210300   211200
      Ketchikan      196700   196600   195700   195200   195900   201000
      Anchor Point   154700   155800   156300   156200   157900   161200
      Anchorage      291600   292100   293100   293900   294100   294500
      Palmer         241300   242900   245500   247000   246700   246200

                    2016-05  2016-06  2016-07  2016-08
State RegionName
AK    Kenai          211800   212000   212100   211800
      Ketchikan      206700   208200   206500   206400
      Anchor Point   162300   161100   161000   161400
      Anchorage      295000   295000   294800   294400
      Palmer         245700   245300   245000   244500

[5 rows x 200 columns]

In [172]:
np.arange(len(housing_df.columns)) // 3

array([ 0,  0,  0,  1,  1,  1,  2,  2,  2,  3,  3,  3,  4,  4,  4,  5,  5,
        5,  6,  6,  6,  7,  7,  7,  8,  8,  8,  9,  9,  9, 10, 10, 10, 11,
       11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15, 16, 16, 16,
       17, 17, 17, 18, 18, 18, 19, 19, 19, 20, 20, 20, 21, 21, 21, 22, 22,
       22, 23, 23, 23, 24, 24, 24, 25, 25, 25, 26, 26, 26, 27, 27, 27, 28,
       28, 28, 29, 29, 29, 30, 30, 30, 31, 31, 31, 32, 32, 32, 33, 33, 33,
       34, 34, 34, 35, 35, 35, 36, 36, 36, 37, 37, 37, 38, 38, 38, 39, 39,
       39, 40, 40, 40, 41, 41, 41, 42, 42, 42, 43, 43, 43, 44, 44, 44, 45,
       45, 45, 46, 46, 46, 47, 47, 47, 48, 48, 48, 49, 49, 49, 50, 50, 50,
       51, 51, 51, 52, 52, 52, 53, 53, 53, 54, 54, 54, 55, 55, 55, 56, 56,
       56, 57, 57, 57, 58, 58, 58, 59, 59, 59, 60, 60, 60, 61, 61, 61, 62,
       62, 62, 63, 63, 63, 64, 64, 64, 65, 65, 65, 66, 66])

In [173]:
housing_quarters_df = housing_df.groupby((np.arange(len(housing_df.columns)) // 3), axis=1).sum()
housing_quarters_df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66],
           dtype='int64')

In [174]:
col_names = ['200%dq%d' % (int(x/4), x%4+1) for x in housing_quarters_df.columns]
col_names

['2000q1',
 '2000q2',
 '2000q3',
 '2000q4',
 '2001q1',
 '2001q2',
 '2001q3',
 '2001q4',
 '2002q1',
 '2002q2',
 '2002q3',
 '2002q4',
 '2003q1',
 '2003q2',
 '2003q3',
 '2003q4',
 '2004q1',
 '2004q2',
 '2004q3',
 '2004q4',
 '2005q1',
 '2005q2',
 '2005q3',
 '2005q4',
 '2006q1',
 '2006q2',
 '2006q3',
 '2006q4',
 '2007q1',
 '2007q2',
 '2007q3',
 '2007q4',
 '2008q1',
 '2008q2',
 '2008q3',
 '2008q4',
 '2009q1',
 '2009q2',
 '2009q3',
 '2009q4',
 '20010q1',
 '20010q2',
 '20010q3',
 '20010q4',
 '20011q1',
 '20011q2',
 '20011q3',
 '20011q4',
 '20012q1',
 '20012q2',
 '20012q3',
 '20012q4',
 '20013q1',
 '20013q2',
 '20013q3',
 '20013q4',
 '20014q1',
 '20014q2',
 '20014q3',
 '20014q4',
 '20015q1',
 '20015q2',
 '20015q3',
 '20015q4',
 '20016q1',
 '20016q2',
 '20016q3']

In [175]:
housing_quarters_df.columns = col_names
housing_quarters_df

                          2000q1    2000q2    2000q3    2000q4    2001q1  \
State RegionName
AK    Kenai                  NaN       NaN       NaN       NaN       NaN
      Ketchikan              NaN       NaN       NaN       NaN       NaN
      Anchor Point           NaN       NaN       NaN       NaN       NaN
      Anchorage         523900.0  525800.0  538700.0  548500.0  548300.0
      Palmer            506300.0  511700.0  522700.0  526600.0  508400.0
      Seward                 NaN       NaN       NaN       NaN       NaN
      Kodiak                 NaN       NaN       NaN       NaN       NaN
      Tanaina           481500.0  490500.0  499100.0  504100.0  476300.0
      Lakes             518200.0  522400.0  531800.0  537400.0  517200.0
      North Pole        472400.0  477300.0  486400.0  496500.0  478300.0
      Homer                  NaN       NaN       NaN       NaN       NaN
      Soldotna               NaN       NaN       NaN       NaN       NaN
      Juneau            577400.0  582900.0  585500.0  582500.0  591500.0
      Fairbanks         489600.0  495100.0  507900.0  518400.0  493300.0
AL    Birmingham        162100.0  163200.0  164900.0  168200.0  170500.0
      Gurley                 NaN       NaN       NaN       NaN       NaN
      Fosters           322500.0  330600.0  334200.0  347100.0  342600.0
      Hope Hull         335000.0  335400.0  338900.0  343900.0  345800.0
      Lipscomb               NaN       NaN       NaN       NaN       NaN
      Guntersville      278800.0  280500.0  280800.0  281900.0  282400.0
      Meadowbrook       601500.0  609000.0  620400.0  631500.0  636100.0
      Northport         377600.0  379100.0  379900.0  380900.0  386000.0
      Morris            372200.0  373500.0  372700.0  377400.0  376700.0
      Good Hope              NaN       NaN       NaN       NaN       NaN
      Orange Beach      664900.0  666400.0  672100.0  687700.0  708900.0
      Robertsdale       260500.0  263000.0  267000.0  273300.0  283100.0
      Cottondale        302500.0  307900.0  314300.0  315900.0  320200.0
      Titus                  NaN       NaN       NaN       NaN       NaN
      Leeds             281500.0  283300.0  285200.0  289100.0  296200.0
      Homewood          475000.0  479000.0  483300.0  494800.0  503400.0
...                          ...       ...       ...       ...       ...
WI    Erin              625700.0  627300.0  629000.0  642400.0  677100.0
WV    Nitro                  NaN       NaN       NaN       NaN       NaN
      Eskdale                NaN       NaN       NaN       NaN       NaN
      Mineral Wells     226600.0  231700.0  245900.0  255900.0  260100.0
      Cross Lanes       234400.0  234200.0  237700.0  238400.0  236400.0
      Dunbar                 NaN       NaN       NaN       NaN       NaN
      Vienna            216800.0  223600.0  226000.0  229600.0  232200.0
      Saint Albans      191500.0  194100.0  195600.0  197700.0  199100.0
      South Charleston       NaN       NaN       NaN       NaN       NaN
      Parkersburg       164700.0  167500.0  169900.0  170500.0  172200.0
      Chesapeake             NaN       NaN       NaN       NaN       NaN
      East Bank              NaN       NaN       NaN       NaN       NaN
      Belle             153200.0  153900.0  156600.0  153500.0  153800.0
      Marmet                 NaN       NaN       NaN       NaN       NaN
      Upper Falls       159100.0  157000.0  156300.0  152700.0  151100.0
      Waverly           187100.0  188800.0  195900.0  199800.0  203800.0
      Sissonville       171600.0  174600.0  183600.0  182100.0  177000.0
      Charleston        178600.0  178100.0  178100.0  178900.0  181200.0
      Clendenin         119900.0  114600.0  121500.0  117000.0  128100.0
      Washington        251700.0  258100.0  265000.0  271400.0  280500.0
      Williamstown      248800.0  255600.0  259400.0  261000.0  259900.0
      Davisville             NaN       NaN       NaN       NaN       NaN
      Coal Fork              NaN       NaN       NaN       NaN       NaN
      Elkview                NaN       NaN       NaN       NaN       NaN
WY    Burns             304600.0  313700.0  325100.0  339000.0  347500.0
      Bar Nunn          279100.0  269000.0  266700.0  280500.0  296500.0
      Evansville        384100.0  386300.0  392500.0  396200.0  391700.0
      Cheyenne          350600.0  360100.0  364600.0  370900.0  376600.0
      Casper            267700.0  268800.0  269200.0  279500.0  286500.0
      Pine Bluffs       281200.0  285200.0  283900.0  294200.0  309700.0

                          2001q2    2001q3    2001q4    2002q1    2002q2  \
State RegionName
AK    Kenai                  NaN       NaN       NaN       NaN       NaN
      Ketchikan              NaN       NaN       NaN       NaN       NaN
      Anchor Point           NaN       NaN       NaN       NaN       NaN
      Anchorage         551800.0  565700.0  575600.0  581900.0  590100.0
      Palmer            489700.0  500800.0  506800.0  495900.0  494400.0
      Seward                 NaN       NaN       NaN       NaN       NaN
      Kodiak                 NaN       NaN       NaN       NaN       NaN
      Tanaina           447600.0  452900.0  454800.0  459100.0  468300.0
      Lakes             498000.0  508500.0  512300.0  506300.0  509700.0
      North Pole        449300.0  453800.0  453000.0  450100.0  455600.0
      Homer                  NaN       NaN       NaN       NaN       NaN
      Soldotna               NaN       NaN       NaN       NaN       NaN
      Juneau            598600.0  607300.0  618900.0  627200.0  629600.0
      Fairbanks         473400.0  474600.0  464000.0  458300.0  463600.0
AL    Birmingham        172800.0  175300.0  176100.0  178500.0  179600.0
      Gurley                 NaN       NaN       NaN       NaN       NaN
      Fosters           339000.0  329300.0  330600.0  333600.0  333200.0
      Hope Hull         337000.0  339900.0  340500.0  342800.0  342600.0
      Lipscomb               NaN       NaN       NaN       NaN       NaN
      Guntersville      283600.0  277800.0  284000.0  294400.0  299500.0
      Meadowbrook       641600.0  644500.0  640500.0  630900.0  635200.0
      Northport         392100.0  392600.0  397200.0  399000.0  398000.0
      Morris            374900.0  377100.0  380900.0  381900.0  384200.0
      Good Hope              NaN       NaN       NaN       NaN       NaN
      Orange Beach      721100.0  732300.0  737400.0  730000.0  733800.0
      Robertsdale       287300.0  288200.0  290300.0  289200.0  291900.0
      Cottondale        327700.0  327600.0  329700.0  328000.0  323900.0
      Titus                  NaN       NaN       NaN       NaN       NaN
      Leeds             303000.0  299000.0  297800.0  301800.0  304200.0
      Homewood          507700.0  511400.0  518900.0  526800.0  533300.0
...                          ...       ...       ...       ...       ...
WI    Erin              708500.0  743300.0  737900.0  739600.0  743600.0
WV    Nitro                  NaN       NaN       NaN       NaN       NaN
      Eskdale                NaN       NaN       NaN       NaN       NaN
      Mineral Wells     261400.0  251000.0  244500.0  248500.0  255100.0
      Cross Lanes       238100.0  234300.0  236300.0  236200.0  237300.0
      Dunbar                 NaN       NaN       NaN       NaN       NaN
      Vienna            232100.0  233900.0  236700.0  234700.0  236800.0
      Saint Albans      199400.0  201800.0  198300.0  193800.0  191600.0
      South Charleston       NaN       NaN       NaN       NaN       NaN
      Parkersburg       172700.0  173800.0  176600.0  178500.0  178100.0
      Chesapeake             NaN   81100.0  121300.0  118900.0  115900.0
      East Bank              NaN   79500.0  124100.0  129700.0  130000.0
      Belle             155900.0  150500.0  148000.0  146000.0  148900.0
      Marmet                 NaN   95600.0  140400.0  139600.0  138000.0
      Upper Falls       149300.0  149100.0  151500.0  154300.0  160500.0
      Waverly           208100.0  205700.0  204500.0  202100.0  201600.0
      Sissonville       171400.0  160700.0  161500.0  160200.0  166900.0
      Charleston        179600.0  183000.0  182300.0  177000.0  175000.0
      Clendenin         126700.0  125100.0  131400.0  130300.0  131500.0
      Washington        284800.0  279500.0  272800.0  273800.0  273000.0
      Williamstown      258500.0  255900.0  253200.0  252400.0  254500.0
      Davisville             NaN       NaN       NaN       NaN       NaN
      Coal Fork              NaN   86700.0  129600.0  130400.0  131000.0
      Elkview                NaN       NaN       NaN       NaN       NaN
WY    Burns             351600.0  353400.0  352900.0  352000.0  351700.0
      Bar Nunn          299700.0  297300.0  295000.0  295900.0  302600.0
      Evansville        394300.0  397200.0  400400.0  399900.0  393200.0
      Cheyenne          378900.0  379400.0  384400.0  385400.0  388900.0
      Casper            292900.0  298300.0  301900.0  305200.0  304600.0
      Pine Bluffs       313800.0  319500.0  312200.0  306700.0  310700.0

                          ...      20014q2   20014q3    20014q4    20015q1  \
State RegionName          ...
AK    Kenai               ...     598400.0  593900.0   583800.0   595500.0
      Ketchikan           ...     590600.0  591300.0   593100.0   594100.0
      Anchor Point        ...     473400.0  474000.0   466700.0   462800.0
      Anchorage           ...     834600.0  842300.0   845100.0   852500.0
      Palmer              ...     676700.0  686300.0   688100.0   703400.0
      Seward              ...     583800.0  571600.0   559800.0   560400.0
      Kodiak              ...     769200.0  770900.0   773800.0   775700.0
      Tanaina             ...     626700.0  633000.0   637400.0   645600.0
      Lakes               ...     684600.0  701900.0   710900.0   719500.0
      North Pole          ...     599800.0  598200.0   592100.0   597200.0
      Homer               ...     699100.0  698700.0   693200.0   700500.0
      Soldotna            ...     631100.0  627900.0   623900.0   640500.0
      Juneau              ...     984800.0  995500.0   999600.0  1007000.0
      Fairbanks           ...     627700.0  621300.0   621000.0   623300.0
AL    Birmingham          ...     185200.0  182700.0   178600.0   179700.0
      Gurley              ...     424100.0  417900.0   415600.0   430600.0
      Fosters             ...     394100.0  410900.0   432500.0   449400.0
      Hope Hull           ...     387200.0  390400.0   396300.0   412700.0
      Lipscomb            ...     150400.0  149300.0   148100.0   146100.0
      Guntersville        ...     400500.0  408700.0   408300.0   415600.0
      Meadowbrook         ...     755600.0  765300.0   771800.0   775000.0
      Northport           ...     478600.0  480600.0   488400.0   494900.0
      Morris              ...     454800.0  456400.0   464200.0   468100.0
      Good Hope           ...     284800.0  288000.0   303800.0   310700.0
      Orange Beach        ...     980500.0  995200.0  1010500.0   997400.0
      Robertsdale         ...     371600.0  376100.0   381700.0   383700.0
      Cottondale          ...     385500.0  391700.0   400300.0   403500.0
      Titus               ...     395700.0  398000.0   391300.0   368900.0
      Leeds               ...     354000.0  352900.0   356600.0   360800.0
      Homewood            ...     772700.0  786000.0   795500.0   813800.0
...                       ...          ...       ...        ...        ...
WI    Erin                ...     923700.0  930400.0   933700.0   943800.0
WV    Nitro               ...     262100.0  265900.0   268200.0   269700.0
      Eskdale             ...     208100.0  209600.0   210500.0   204500.0
      Mineral Wells       ...     349400.0  357000.0   361300.0   353800.0
      Cross Lanes         ...     370700.0  373900.0   378700.0   379900.0
      Dunbar              ...     229700.0  236600.0   237300.0   233500.0
      Vienna              ...     305100.0  311100.0   312400.0   306400.0
      Saint Albans        ...     273400.0  280000.0   284700.0   289000.0
      South Charleston    ...     306800.0  311800.0   314900.0   314800.0
      Parkersburg         ...     238000.0  238500.0   236800.0   234700.0
      Chesapeake          ...     199200.0  196900.0   195500.0   194500.0
      East Bank           ...     208100.0  212000.0   214000.0   209600.0
      Belle               ...     218700.0  222200.0   219400.0   215900.0
      Marmet              ...     205100.0  205000.0   208200.0   206900.0
      Upper Falls         ...     275200.0  293500.0   292300.0   285900.0
      Waverly             ...     299800.0  301200.0   304300.0   297700.0
      Sissonville         ...     292900.0  311300.0   319800.0   311900.0
      Charleston          ...     286300.0  299200.0   307400.0   308700.0
      Clendenin           ...     246700.0  248700.0   250600.0   245700.0
      Washington          ...     379000.0  391300.0   402300.0   400100.0
      Williamstown        ...     367600.0  375100.0   377600.0   374300.0
      Davisville          ...     197300.0  198600.0   196400.0   194800.0
      Coal Fork           ...     197800.0  204400.0   208100.0   209100.0
      Elkview             ...     292300.0  303200.0   307900.0   306400.0
WY    Burns               ...     506600.0  485800.0   481300.0   487800.0
      Bar Nunn            ...     597700.0  602800.0   603400.0   620000.0
      Evansville          ...     890200.0  917000.0   928500.0   921900.0
      Cheyenne            ...     532400.0  530200.0   536300.0   545100.0
      Casper              ...     527300.0  531900.0   543000.0   546200.0
      Pine Bluffs         ...     446000.0  463100.0   474300.0   491700.0

                          20015q2    20015q3    20015q4    20016q1    20016q2  \
State RegionName
AK    Kenai              608100.0   614300.0   619300.0   628900.0   635000.0
      Ketchikan          588900.0   589600.0   589900.0   586800.0   615900.0
      Anchor Point       462300.0   461900.0   464300.0   470400.0   484600.0
      Anchorage          861500.0   870700.0   875100.0   881100.0   884500.0
      Palmer             713400.0   719700.0   725000.0   739200.0   737200.0
      Seward             556600.0   559300.0   573000.0   610800.0   644000.0
      Kodiak             768400.0   769200.0   770400.0   765700.0   810500.0
      Tanaina            646900.0   653100.0   656400.0   669300.0   675600.0
      Lakes              720100.0   728200.0   733500.0   750300.0   750800.0
      North Pole         600900.0   612300.0   619200.0   619900.0   624500.0
      Homer              714300.0   716800.0   721500.0   729500.0   735500.0
      Soldotna           651700.0   661300.0   659600.0   670400.0   670000.0
      Juneau            1012100.0   977800.0   958000.0   956800.0   959800.0
      Fairbanks          619400.0   625300.0   628400.0   627200.0   638800.0
AL    Birmingham         185900.0   188000.0   189300.0   186100.0   184900.0
      Gurley             436700.0   446400.0   454700.0   459100.0   453800.0
      Fosters            443300.0   451000.0   462500.0   436100.0   428900.0
      Hope Hull          411400.0   408000.0   396800.0   401100.0   403800.0
      Lipscomb           150200.0   155300.0   155100.0   154400.0   155800.0
      Guntersville       420800.0   428700.0   432500.0   430400.0   434200.0
      Meadowbrook        776000.0   783600.0   789800.0   798800.0   810100.0
      Northport          496500.0   501800.0   505700.0   494100.0   488500.0
      Morris             469700.0   473900.0   473800.0   476900.0   478400.0
      Good Hope          324200.0   327800.0   336200.0   328100.0   325700.0
      Orange Beach      1001900.0  1029600.0  1036600.0  1044600.0  1052500.0
      Robertsdale        394900.0   407300.0   412100.0   414500.0   408500.0
      Cottondale         406500.0   411600.0   413700.0   403500.0   402100.0
      Titus              357700.0   354200.0   360600.0   362500.0   356700.0
      Leeds              361400.0   366000.0   368500.0   374100.0   376600.0
      Homewood           845000.0   859800.0   876400.0   888700.0   888500.0
...                           ...        ...        ...        ...        ...
WI    Erin               950900.0   968000.0   983800.0   985600.0   999000.0
WV    Nitro              266500.0   264000.0   266700.0   264000.0   266400.0
      Eskdale            204200.0   198800.0   195700.0   194000.0   199500.0
      Mineral Wells      356600.0   360300.0   360800.0   363200.0   366800.0
      Cross Lanes        380500.0   379400.0   380000.0   379000.0   376300.0
      Dunbar             232300.0   232000.0   231300.0   229600.0   230400.0
      Vienna             311400.0   317200.0   319200.0   319300.0   326300.0
      Saint Albans       287400.0   287500.0   292800.0   297300.0   302000.0
      South Charleston   316000.0   316800.0   318200.0   321700.0   335000.0
      Parkersburg        237200.0   238800.0   242000.0   240300.0   240200.0
      Chesapeake         198100.0   201400.0   199300.0   203400.0   207000.0
      East Bank          208100.0   202500.0   197800.0   200300.0   203500.0
      Belle              220700.0   222700.0   223800.0   219800.0   222200.0
      Marmet             202600.0   203500.0   206200.0   210100.0   219900.0
      Upper Falls        278800.0   269100.0   276300.0   278300.0   274300.0
      Waverly            298700.0   299200.0   299700.0   299300.0   303000.0
      Sissonville        299400.0   300800.0   306100.0   314300.0   322900.0
      Charleston         309700.0   306400.0   307400.0   314200.0   321400.0
      Clendenin          242800.0   239500.0   245400.0   252100.0   262500.0
      Washington         395300.0   391800.0   389200.0   394000.0   399200.0
      Williamstown       382700.0   390100.0   388400.0   388000.0   389000.0
      Davisville         194300.0   188700.0   189800.0   194900.0   200400.0
      Coal Fork          209800.0   209800.0   211400.0   210800.0   218100.0
      Elkview            307000.0   302600.0   305100.0   311000.0   322600.0
WY    Burns              489200.0   493800.0   492900.0   504800.0   514800.0
      Bar Nunn           626600.0   635400.0   635400.0   630600.0   626500.0
      Evansville         909500.0   902900.0   912600.0   928300.0   927600.0
      Cheyenne           549800.0   560300.0   572000.0   583300.0   589500.0
      Casper             547900.0   549900.0   548100.0   553000.0   555500.0
      Pine Bluffs        502300.0   502400.0   507600.0   500500.0   491400.0

                         20016q3
State RegionName
AK    Kenai             423900.0
      Ketchikan         412900.0
      Anchor Point      322400.0
      Anchorage         589200.0
      Palmer            489500.0
      Seward            429900.0
      Kodiak            542500.0
      Tanaina           451000.0
      Lakes             501100.0
      North Pole        418600.0
      Homer             495200.0
      Soldotna          445200.0
      Juneau            638400.0
      Fairbanks         431700.0
AL    Birmingham        122500.0
      Gurley            305500.0
      Fosters           278500.0
      Hope Hull         271600.0
      Lipscomb          104200.0
      Guntersville      290000.0
      Meadowbrook       539400.0
      Northport         319100.0
      Morris            318200.0
      Good Hope         228200.0
      Orange Beach      710400.0
      Robertsdale       267700.0
      Cottondale        267100.0
      Titus             235000.0
      Leeds             252200.0
      Homewood          599100.0
...                          ...
WI    Erin              680200.0
WV    Nitro             180500.0
      Eskdale           136700.0
      Mineral Wells     244000.0
      Cross Lanes       248000.0
      Dunbar            152600.0
      Vienna            221600.0
      Saint Albans      201800.0

In [176]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    housing_df = pd.read_csv('City_Zhvi_AllHomes.csv')
    housing_df = housing_df.drop(['RegionID','Metro','CountyName','SizeRank'], axis=1)
    col_to_drop = [col for col in housing_df.columns[2:] if col < '2000-01']
    housing_df = housing_df.drop(col_to_drop, axis=1)
    housing_df = housing_df.sort(columns='State')
    housing_df.set_index(['State', 'RegionName'], inplace=True)
    
    housing_quarters_df = housing_df.groupby((np.arange(len(housing_df.columns)) // 3), axis=1).sum()
    housing_quarters_df.columns = ['200%dq%d' % (int(x/4), x%4+1) for x in housing_quarters_df.columns]
    
    return housing_quarters_df

convert_housing_data_to_quarters()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:16: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                          2000q1    2000q2    2000q3    2000q4    2001q1  \
State RegionName
AK    Kenai                  NaN       NaN       NaN       NaN       NaN
      Ketchikan              NaN       NaN       NaN       NaN       NaN
      Anchor Point           NaN       NaN       NaN       NaN       NaN
      Anchorage         523900.0  525800.0  538700.0  548500.0  548300.0
      Palmer            506300.0  511700.0  522700.0  526600.0  508400.0
      Seward                 NaN       NaN       NaN       NaN       NaN
      Kodiak                 NaN       NaN       NaN       NaN       NaN
      Tanaina           481500.0  490500.0  499100.0  504100.0  476300.0
      Lakes             518200.0  522400.0  531800.0  537400.0  517200.0
      North Pole        472400.0  477300.0  486400.0  496500.0  478300.0
      Homer                  NaN       NaN       NaN       NaN       NaN
      Soldotna               NaN       NaN       NaN       NaN       NaN
      Juneau            577400.0  582900.0  585500.0  582500.0  591500.0
      Fairbanks         489600.0  495100.0  507900.0  518400.0  493300.0
AL    Birmingham        162100.0  163200.0  164900.0  168200.0  170500.0
      Gurley                 NaN       NaN       NaN       NaN       NaN
      Fosters           322500.0  330600.0  334200.0  347100.0  342600.0
      Hope Hull         335000.0  335400.0  338900.0  343900.0  345800.0
      Lipscomb               NaN       NaN       NaN       NaN       NaN
      Guntersville      278800.0  280500.0  280800.0  281900.0  282400.0
      Meadowbrook       601500.0  609000.0  620400.0  631500.0  636100.0
      Northport         377600.0  379100.0  379900.0  380900.0  386000.0
      Morris            372200.0  373500.0  372700.0  377400.0  376700.0
      Good Hope              NaN       NaN       NaN       NaN       NaN
      Orange Beach      664900.0  666400.0  672100.0  687700.0  708900.0
      Robertsdale       260500.0  263000.0  267000.0  273300.0  283100.0
      Cottondale        302500.0  307900.0  314300.0  315900.0  320200.0
      Titus                  NaN       NaN       NaN       NaN       NaN
      Leeds             281500.0  283300.0  285200.0  289100.0  296200.0
      Homewood          475000.0  479000.0  483300.0  494800.0  503400.0
...                          ...       ...       ...       ...       ...
WI    Erin              625700.0  627300.0  629000.0  642400.0  677100.0
WV    Nitro                  NaN       NaN       NaN       NaN       NaN
      Eskdale                NaN       NaN       NaN       NaN       NaN
      Mineral Wells     226600.0  231700.0  245900.0  255900.0  260100.0
      Cross Lanes       234400.0  234200.0  237700.0  238400.0  236400.0
      Dunbar                 NaN       NaN       NaN       NaN       NaN
      Vienna            216800.0  223600.0  226000.0  229600.0  232200.0
      Saint Albans      191500.0  194100.0  195600.0  197700.0  199100.0
      South Charleston       NaN       NaN       NaN       NaN       NaN
      Parkersburg       164700.0  167500.0  169900.0  170500.0  172200.0
      Chesapeake             NaN       NaN       NaN       NaN       NaN
      East Bank              NaN       NaN       NaN       NaN       NaN
      Belle             153200.0  153900.0  156600.0  153500.0  153800.0
      Marmet                 NaN       NaN       NaN       NaN       NaN
      Upper Falls       159100.0  157000.0  156300.0  152700.0  151100.0
      Waverly           187100.0  188800.0  195900.0  199800.0  203800.0
      Sissonville       171600.0  174600.0  183600.0  182100.0  177000.0
      Charleston        178600.0  178100.0  178100.0  178900.0  181200.0
      Clendenin         119900.0  114600.0  121500.0  117000.0  128100.0
      Washington        251700.0  258100.0  265000.0  271400.0  280500.0
      Williamstown      248800.0  255600.0  259400.0  261000.0  259900.0
      Davisville             NaN       NaN       NaN       NaN       NaN
      Coal Fork              NaN       NaN       NaN       NaN       NaN
      Elkview                NaN       NaN       NaN       NaN       NaN
WY    Burns             304600.0  313700.0  325100.0  339000.0  347500.0
      Bar Nunn          279100.0  269000.0  266700.0  280500.0  296500.0
      Evansville        384100.0  386300.0  392500.0  396200.0  391700.0
      Cheyenne          350600.0  360100.0  364600.0  370900.0  376600.0
      Casper            267700.0  268800.0  269200.0  279500.0  286500.0
      Pine Bluffs       281200.0  285200.0  283900.0  294200.0  309700.0

                          2001q2    2001q3    2001q4    2002q1    2002q2  \
State RegionName
AK    Kenai                  NaN       NaN       NaN       NaN       NaN
      Ketchikan              NaN       NaN       NaN       NaN       NaN
      Anchor Point           NaN       NaN       NaN       NaN       NaN
      Anchorage         551800.0  565700.0  575600.0  581900.0  590100.0
      Palmer            489700.0  500800.0  506800.0  495900.0  494400.0
      Seward                 NaN       NaN       NaN       NaN       NaN
      Kodiak                 NaN       NaN       NaN       NaN       NaN
      Tanaina           447600.0  452900.0  454800.0  459100.0  468300.0
      Lakes             498000.0  508500.0  512300.0  506300.0  509700.0
      North Pole        449300.0  453800.0  453000.0  450100.0  455600.0
      Homer                  NaN       NaN       NaN       NaN       NaN
      Soldotna               NaN       NaN       NaN       NaN       NaN
      Juneau            598600.0  607300.0  618900.0  627200.0  629600.0
      Fairbanks         473400.0  474600.0  464000.0  458300.0  463600.0
AL    Birmingham        172800.0  175300.0  176100.0  178500.0  179600.0
      Gurley                 NaN       NaN       NaN       NaN       NaN
      Fosters           339000.0  329300.0  330600.0  333600.0  333200.0
      Hope Hull         337000.0  339900.0  340500.0  342800.0  342600.0
      Lipscomb               NaN       NaN       NaN       NaN       NaN
      Guntersville      283600.0  277800.0  284000.0  294400.0  299500.0
      Meadowbrook       641600.0  644500.0  640500.0  630900.0  635200.0
      Northport         392100.0  392600.0  397200.0  399000.0  398000.0
      Morris            374900.0  377100.0  380900.0  381900.0  384200.0
      Good Hope              NaN       NaN       NaN       NaN       NaN
      Orange Beach      721100.0  732300.0  737400.0  730000.0  733800.0
      Robertsdale       287300.0  288200.0  290300.0  289200.0  291900.0
      Cottondale        327700.0  327600.0  329700.0  328000.0  323900.0
      Titus                  NaN       NaN       NaN       NaN       NaN
      Leeds             303000.0  299000.0  297800.0  301800.0  304200.0
      Homewood          507700.0  511400.0  518900.0  526800.0  533300.0
...                          ...       ...       ...       ...       ...
WI    Erin              708500.0  743300.0  737900.0  739600.0  743600.0
WV    Nitro                  NaN       NaN       NaN       NaN       NaN
      Eskdale                NaN       NaN       NaN       NaN       NaN
      Mineral Wells     261400.0  251000.0  244500.0  248500.0  255100.0
      Cross Lanes       238100.0  234300.0  236300.0  236200.0  237300.0
      Dunbar                 NaN       NaN       NaN       NaN       NaN
      Vienna            232100.0  233900.0  236700.0  234700.0  236800.0
      Saint Albans      199400.0  201800.0  198300.0  193800.0  191600.0
      South Charleston       NaN       NaN       NaN       NaN       NaN
      Parkersburg       172700.0  173800.0  176600.0  178500.0  178100.0
      Chesapeake             NaN   81100.0  121300.0  118900.0  115900.0
      East Bank              NaN   79500.0  124100.0  129700.0  130000.0
      Belle             155900.0  150500.0  148000.0  146000.0  148900.0
      Marmet                 NaN   95600.0  140400.0  139600.0  138000.0
      Upper Falls       149300.0  149100.0  151500.0  154300.0  160500.0
      Waverly           208100.0  205700.0  204500.0  202100.0  201600.0
      Sissonville       171400.0  160700.0  161500.0  160200.0  166900.0
      Charleston        179600.0  183000.0  182300.0  177000.0  175000.0
      Clendenin         126700.0  125100.0  131400.0  130300.0  131500.0
      Washington        284800.0  279500.0  272800.0  273800.0  273000.0
      Williamstown      258500.0  255900.0  253200.0  252400.0  254500.0
      Davisville             NaN       NaN       NaN       NaN       NaN
      Coal Fork              NaN   86700.0  129600.0  130400.0  131000.0
      Elkview                NaN       NaN       NaN       NaN       NaN
WY    Burns             351600.0  353400.0  352900.0  352000.0  351700.0
      Bar Nunn          299700.0  297300.0  295000.0  295900.0  302600.0
      Evansville        394300.0  397200.0  400400.0  399900.0  393200.0
      Cheyenne          378900.0  379400.0  384400.0  385400.0  388900.0
      Casper            292900.0  298300.0  301900.0  305200.0  304600.0
      Pine Bluffs       313800.0  319500.0  312200.0  306700.0  310700.0

                          ...      20014q2   20014q3    20014q4    20015q1  \
State RegionName          ...
AK    Kenai               ...     598400.0  593900.0   583800.0   595500.0
      Ketchikan           ...     590600.0  591300.0   593100.0   594100.0
      Anchor Point        ...     473400.0  474000.0   466700.0   462800.0
      Anchorage           ...     834600.0  842300.0   845100.0   852500.0
      Palmer              ...     676700.0  686300.0   688100.0   703400.0
      Seward              ...     583800.0  571600.0   559800.0   560400.0
      Kodiak              ...     769200.0  770900.0   773800.0   775700.0
      Tanaina             ...     626700.0  633000.0   637400.0   645600.0
      Lakes               ...     684600.0  701900.0   710900.0   719500.0
      North Pole          ...     599800.0  598200.0   592100.0   597200.0
      Homer               ...     699100.0  698700.0   693200.0   700500.0
      Soldotna            ...     631100.0  627900.0   623900.0   640500.0
      Juneau              ...     984800.0  995500.0   999600.0  1007000.0
      Fairbanks           ...     627700.0  621300.0   621000.0   623300.0
AL    Birmingham          ...     185200.0  182700.0   178600.0   179700.0
      Gurley              ...     424100.0  417900.0   415600.0   430600.0
      Fosters             ...     394100.0  410900.0   432500.0   449400.0
      Hope Hull           ...     387200.0  390400.0   396300.0   412700.0
      Lipscomb            ...     150400.0  149300.0   148100.0   146100.0
      Guntersville        ...     400500.0  408700.0   408300.0   415600.0
      Meadowbrook         ...     755600.0  765300.0   771800.0   775000.0
      Northport           ...     478600.0  480600.0   488400.0   494900.0
      Morris              ...     454800.0  456400.0   464200.0   468100.0
      Good Hope           ...     284800.0  288000.0   303800.0   310700.0
      Orange Beach        ...     980500.0  995200.0  1010500.0   997400.0
      Robertsdale         ...     371600.0  376100.0   381700.0   383700.0
      Cottondale          ...     385500.0  391700.0   400300.0   403500.0
      Titus               ...     395700.0  398000.0   391300.0   368900.0
      Leeds               ...     354000.0  352900.0   356600.0   360800.0
      Homewood            ...     772700.0  786000.0   795500.0   813800.0
...                       ...          ...       ...        ...        ...
WI    Erin                ...     923700.0  930400.0   933700.0   943800.0
WV    Nitro               ...     262100.0  265900.0   268200.0   269700.0
      Eskdale             ...     208100.0  209600.0   210500.0   204500.0
      Mineral Wells       ...     349400.0  357000.0   361300.0   353800.0
      Cross Lanes         ...     370700.0  373900.0   378700.0   379900.0
      Dunbar              ...     229700.0  236600.0   237300.0   233500.0
      Vienna              ...     305100.0  311100.0   312400.0   306400.0
      Saint Albans        ...     273400.0  280000.0   284700.0   289000.0
      South Charleston    ...     306800.0  311800.0   314900.0   314800.0
      Parkersburg         ...     238000.0  238500.0   236800.0   234700.0
      Chesapeake          ...     199200.0  196900.0   195500.0   194500.0
      East Bank           ...     208100.0  212000.0   214000.0   209600.0
      Belle               ...     218700.0  222200.0   219400.0   215900.0
      Marmet              ...     205100.0  205000.0   208200.0   206900.0
      Upper Falls         ...     275200.0  293500.0   292300.0   285900.0
      Waverly             ...     299800.0  301200.0   304300.0   297700.0
      Sissonville         ...     292900.0  311300.0   319800.0   311900.0
      Charleston          ...     286300.0  299200.0   307400.0   308700.0
      Clendenin           ...     246700.0  248700.0   250600.0   245700.0
      Washington          ...     379000.0  391300.0   402300.0   400100.0
      Williamstown        ...     367600.0  375100.0   377600.0   374300.0
      Davisville          ...     197300.0  198600.0   196400.0   194800.0
      Coal Fork           ...     197800.0  204400.0   208100.0   209100.0
      Elkview             ...     292300.0  303200.0   307900.0   306400.0
WY    Burns               ...     506600.0  485800.0   481300.0   487800.0
      Bar Nunn            ...     597700.0  602800.0   603400.0   620000.0
      Evansville          ...     890200.0  917000.0   928500.0   921900.0
      Cheyenne            ...     532400.0  530200.0   536300.0   545100.0
      Casper              ...     527300.0  531900.0   543000.0   546200.0
      Pine Bluffs         ...     446000.0  463100.0   474300.0   491700.0

                          20015q2    20015q3    20015q4    20016q1    20016q2  \
State RegionName
AK    Kenai              608100.0   614300.0   619300.0   628900.0   635000.0
      Ketchikan          588900.0   589600.0   589900.0   586800.0   615900.0
      Anchor Point       462300.0   461900.0   464300.0   470400.0   484600.0
      Anchorage          861500.0   870700.0   875100.0   881100.0   884500.0
      Palmer             713400.0   719700.0   725000.0   739200.0   737200.0
      Seward             556600.0   559300.0   573000.0   610800.0   644000.0
      Kodiak             768400.0   769200.0   770400.0   765700.0   810500.0
      Tanaina            646900.0   653100.0   656400.0   669300.0   675600.0
      Lakes              720100.0   728200.0   733500.0   750300.0   750800.0
      North Pole         600900.0   612300.0   619200.0   619900.0   624500.0
      Homer              714300.0   716800.0   721500.0   729500.0   735500.0
      Soldotna           651700.0   661300.0   659600.0   670400.0   670000.0
      Juneau            1012100.0   977800.0   958000.0   956800.0   959800.0
      Fairbanks          619400.0   625300.0   628400.0   627200.0   638800.0
AL    Birmingham         185900.0   188000.0   189300.0   186100.0   184900.0
      Gurley             436700.0   446400.0   454700.0   459100.0   453800.0
      Fosters            443300.0   451000.0   462500.0   436100.0   428900.0
      Hope Hull          411400.0   408000.0   396800.0   401100.0   403800.0
      Lipscomb           150200.0   155300.0   155100.0   154400.0   155800.0
      Guntersville       420800.0   428700.0   432500.0   430400.0   434200.0
      Meadowbrook        776000.0   783600.0   789800.0   798800.0   810100.0
      Northport          496500.0   501800.0   505700.0   494100.0   488500.0
      Morris             469700.0   473900.0   473800.0   476900.0   478400.0
      Good Hope          324200.0   327800.0   336200.0   328100.0   325700.0
      Orange Beach      1001900.0  1029600.0  1036600.0  1044600.0  1052500.0
      Robertsdale        394900.0   407300.0   412100.0   414500.0   408500.0
      Cottondale         406500.0   411600.0   413700.0   403500.0   402100.0
      Titus              357700.0   354200.0   360600.0   362500.0   356700.0
      Leeds              361400.0   366000.0   368500.0   374100.0   376600.0
      Homewood           845000.0   859800.0   876400.0   888700.0   888500.0
...                           ...        ...        ...        ...        ...
WI    Erin               950900.0   968000.0   983800.0   985600.0   999000.0
WV    Nitro              266500.0   264000.0   266700.0   264000.0   266400.0
      Eskdale            204200.0   198800.0   195700.0   194000.0   199500.0
      Mineral Wells      356600.0   360300.0   360800.0   363200.0   366800.0
      Cross Lanes        380500.0   379400.0   380000.0   379000.0   376300.0
      Dunbar             232300.0   232000.0   231300.0   229600.0   230400.0
      Vienna             311400.0   317200.0   319200.0   319300.0   326300.0
      Saint Albans       287400.0   287500.0   292800.0   297300.0   302000.0
      South Charleston   316000.0   316800.0   318200.0   321700.0   335000.0
      Parkersburg        237200.0   238800.0   242000.0   240300.0   240200.0
      Chesapeake         198100.0   201400.0   199300.0   203400.0   207000.0
      East Bank          208100.0   202500.0   197800.0   200300.0   203500.0
      Belle              220700.0   222700.0   223800.0   219800.0   222200.0
      Marmet             202600.0   203500.0   206200.0   210100.0   219900.0
      Upper Falls        278800.0   269100.0   276300.0   278300.0   274300.0
      Waverly            298700.0   299200.0   299700.0   299300.0   303000.0
      Sissonville        299400.0   300800.0   306100.0   314300.0   322900.0
      Charleston         309700.0   306400.0   307400.0   314200.0   321400.0
      Clendenin          242800.0   239500.0   245400.0   252100.0   262500.0
      Washington         395300.0   391800.0   389200.0   394000.0   399200.0
      Williamstown       382700.0   390100.0   388400.0   388000.0   389000.0
      Davisville         194300.0   188700.0   189800.0   194900.0   200400.0
      Coal Fork          209800.0   209800.0   211400.0   210800.0   218100.0
      Elkview            307000.0   302600.0   305100.0   311000.0   322600.0
WY    Burns              489200.0   493800.0   492900.0   504800.0   514800.0
      Bar Nunn           626600.0   635400.0   635400.0   630600.0   626500.0
      Evansville         909500.0   902900.0   912600.0   928300.0   927600.0
      Cheyenne           549800.0   560300.0   572000.0   583300.0   589500.0
      Casper             547900.0   549900.0   548100.0   553000.0   555500.0
      Pine Bluffs        502300.0   502400.0   507600.0   500500.0   491400.0

                         20016q3
State RegionName
AK    Kenai             423900.0
      Ketchikan         412900.0
      Anchor Point      322400.0
      Anchorage         589200.0
      Palmer            489500.0
      Seward            429900.0
      Kodiak            542500.0
      Tanaina           451000.0
      Lakes             501100.0
      North Pole        418600.0
      Homer             495200.0
      Soldotna          445200.0
      Juneau            638400.0
      Fairbanks         431700.0
AL    Birmingham        122500.0
      Gurley            305500.0
      Fosters           278500.0
      Hope Hull         271600.0
      Lipscomb          104200.0
      Guntersville      290000.0
      Meadowbrook       539400.0
      Northport         319100.0
      Morris            318200.0
      Good Hope         228200.0
      Orange Beach      710400.0
      Robertsdale       267700.0
      Cottondale        267100.0
      Titus             235000.0
      Leeds             252200.0
      Homewood          599100.0
...                          ...
WI    Erin              680200.0
WV    Nitro             180500.0
      Eskdale           136700.0
      Mineral Wells     244000.0
      Cross Lanes       248000.0
      Dunbar            152600.0
      Vienna            221600.0
      Saint Albans      201800.0

In [210]:
data = convert_housing_data_to_quarters()
data = data.loc[:, '2008q3':'2009q2']
data = data.reset_index()
data['State'] = data['State'].replace(states)
data.head()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:16: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

    State    RegionName    2008q3    2008q4    2009q1    2009q2
0  Alaska         Kenai       NaN       NaN       NaN       NaN
1  Alaska     Ketchikan       NaN       NaN       NaN       NaN
2  Alaska  Anchor Point       NaN       NaN       NaN       NaN
3  Alaska     Anchorage  888500.0  862600.0  842500.0  815800.0
4  Alaska        Palmer  778400.0  775900.0  788900.0  791400.0

Hypothesis: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (price_ratio=quarter_before_recession/recession_bottom)

In [179]:
data['price_ratio'] = (data['2008q3'] - data['2009q2']) / data['2009q2']
data.head()

    State    RegionName    2008q3    2008q4    2009q1    2009q2  price_ratio
0  Alaska         Kenai       NaN       NaN       NaN       NaN          NaN
1  Alaska     Ketchikan       NaN       NaN       NaN       NaN          NaN
2  Alaska  Anchor Point       NaN       NaN       NaN       NaN          NaN
3  Alaska     Anchorage  888500.0  862600.0  842500.0  815800.0     0.089115
4  Alaska        Palmer  778400.0  775900.0  788900.0  791400.0    -0.016427

In [180]:
uni_town = get_list_of_university_towns()
uni_town.head()

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

In [183]:
uni_town_set = set()
for i, row in uni_town.iterrows():
    uni_town_set.add((row['State'], row['RegionName']))

def is_uni_town(row):
    town_str = (row['State'], row['RegionName'])
    if town_str in uni_town_set:
        return 1
    else:
        return 0

data['is_uni_town'] = data.apply(is_uni_town, axis=1)

In [184]:
data['is_uni_town']

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       1
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
10700    0
10701    0
10702    0
10703    0
10704    0
10705    0
10706    0
10707    0
10708    0
10709    0
10710    0
10711    0
10712    0
10713    0
10714    0
10715    0
10716    0
10717    0
10718    0
10719    0
10720    0
10721    0
10722    0
10723    0
10724    0
10725    0
10726    0
10727    0
10728    0
10729    0
Name: is_uni_town, dtype: int64

In [198]:
is_uni_df = data[data['is_uni_town'] == 1].loc[:, 'price_ratio'].dropna()
not_uni_df = data[data['is_uni_town'] == 0].loc[:, 'price_ratio'].dropna()

In [215]:
from scipy import stats
p = stats.ttest_ind(is_uni_df, not_uni_df)[1]
p

0.0059324820207087431

In [208]:
def difference():
    if p<0.01:
        return True
    else:
        return False
difference()

True

In [207]:
is_uni_df.mean()

0.03642809822176276

In [209]:
def better():
    if is_uni_df.mean() > not_uni_df.mean():
        return 'non-university town'
    else:
        return 'university town'
better()

'university town'

In [213]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where 
    different=True if the t-test is True at a p<0.01 (we reject the null hypothesis), 
    or different=False if otherwise (we cannot reject the null hypothesis). 
    
    The variable p should be equal to the exact p value returned from scipy.stats.ttest_ind(). 
    
    The value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    data = convert_housing_data_to_quarters()
    data = data.loc[:, '2008q3':'2009q2']
    data = data.reset_index()
    data['price_ratio'] = (data['2008q3'] - data['2009q2']) / data['2009q2'] # create a new colunm "price_ratio"
    data['State'] = data['State'].replace(states) # replace state short names, such as "Ak", to full name "Alaska"
    
    # create a new col, data['is_uni_town'], to check whether it is "university town" or not:
    uni_town = get_list_of_university_towns()
    
    uni_town_set = set()
    for i, row in uni_town.iterrows():
        uni_town_set.add((row['State'], row['RegionName']))

    def is_uni_town(row):
        town_str = (row['State'], row['RegionName'])
        if town_str in uni_town_set:
            return 1
        else:
            return 0

    data['is_uni_town'] = data.apply(is_uni_town, axis=1)
    
    is_uni_df = data[data['is_uni_town'] == 1].loc[:, 'price_ratio'].dropna()
    not_uni_df = data[data['is_uni_town'] == 0].loc[:, 'price_ratio'].dropna()
    
    from scipy import stats
    p = stats.ttest_ind(is_uni_df, not_uni_df)[1]
    
    def difference():
        if p < 0.01:
            return True
        else:
            return False
    
    def better():
        if is_uni_df.mean() > not_uni_df.mean():
            return 'non-university town'
        else:
            return 'university town'
    
    return (difference(), p, better())

run_ttest()

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:16: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

(True, 0.0059324820207087431, 'university town')